[Unit]
Description=pgproxy - PostgreSQL proxy server
Requires=pgproxy.socket
After=network.target pgproxy.socket

[Service]
Type=notify
User=postgres
Group=postgres
ExecStart=/usr/local/bin/pgproxy -config /etc/pgproxy/pgproxy.conf
ExecReload=/bin/kill -HUP $MAINPID
# Secure defaults
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
