[Unit]
Description=pgproxy socket activation

[Socket]
ListenStream=0.0.0.0:5433
# Example for unix socket activation
# ListenStream=/var/run/postgresql/.s.PGSQL.5433
NoDelay=true
FreeBind=true

[Install]
WantedBy=sockets.target
